/* @font-face {
  font-family: "sagak";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/사각사각.ttf") format("truetype");
  font-display: swap;
} */
.btn {
  display: flex;
  background-color: #e1edff;
  color: #08002b;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #4c6b81;
  cursor: pointer;
  /* font-family: "sagak"; */
}

.btn:hover {
  background-color: #4283b3;
  color: #e1edff;
}
