.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--mblue01);
  color: var(--gray-100);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--mblue02);
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 500;
  .img_wrap {
    border: 1px solid var(--gray-800);
    box-sizing: border-box;
    height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .title_txt {
    padding: 40px;
    box-sizing: border-box;
  }
  /* font-family: "sagak"; */
}
.btn:hover {
  background-color: var(--gray-100);
  color: var(--mblue02);
}
