@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.text {
  display: flex;
  height: 100%;
  position: relative;
  width: fit-content;
}

// .blink {
//   display: flex;
//   animation: blink 1s step-end infinite;
//   background-color: #dcf1ff;
//   width: 4px;
//   height: 15px;
// }

.text::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  width: 4px;
  height: 100%;
  animation: blink 1s step-end infinite;
  background-color: #dcf1ff;
}
