.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #818181;
    padding: 15px;
    box-sizing: border-box;
    min-height: 110px;
  }
  .type_txt {
    font-size: 30px;
    font-weight: 500;
    background-color: #ffdce4;
    width: fit-content;
    &.sky {
      background-color: #dcf1ff;
    }
    &.green {
      background-color: #dcffdc;
    }
  }
  .hori_line {
    width: 100%;
    height: 1px;
    background-color: #bebebe;
    margin-bottom: 10px;
  }
}

// 첫번째 only css - - - - - -
.container {
  width: fit-content;
}
.text {
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 5px #ffdce4;
  font-size: 18px;
  animation: type-text 6s infinite alternate steps(50);
  //   animation: type-text, type-text-reverse;
  //   animation-iteration-count: infinite, infinite;
  //   animation-timing-function: steps(60), steps(40);
  //   animation-duration: 6s, 6s;
  //   animation-delay: 0s, 6s;
}
@keyframes type-text {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes type-text-reverse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

// - - - - - -

.text_js {
  position: relative;
  display: flex;
  width: fit-content;
  font-size: 23px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: #dcf1ff;
    animation: blink-effect 1s step-end infinite;
  }
  &.active::after {
    display: none;
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
